<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Using controllers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>//[2] create module
</head>
<body ng-app="app">//[1] create module
<div ng-controller="UsersController">//[4] create controller
    <form>
        <input type="text" id="firstName" ng-model="firstName" placeholder="First name">
        <input type="text" id="secondName" ng-model="secondName" placeholder="Second name">
    </form>
    <div>{{firstName}} {{secondName}}</div>
</div>
<hr>
<!--[5] it is recommended to use "controller as syntax"-->
<div ng-controller="OrdersController as orders">
    {{orders.order}}
</div>
</body>
</html>