<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>How to bind data to inputs?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app>
<form>
    <div>
        <label for="first">First input:</label>
        <input type="text" id="first" ng-model="data">
    </div>
    <div>
        <label for="second">Second input:</label>
        <input type="text" id="second" ng-model="data">
    </div>
</form>
</body>
</html>