<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Users mockup</title>
  </head>
  <body class="bg-gray-200">
    <div class="mx-auto" style="width: 600px">
      <div class="flex bg-white rounded-lg p-6 m-6 shadow-md">
        <img
          class="h-24 w-24 rounded-full mx-0 mr-6"
          src="avatar-1.jpeg"
        />
        <div class="text-left">
          <h2 class="text-lg">Scott Reynolds</h2>
          <div class="text-purple-500">Customer Support</div>
          <div class="text-gray-600">scottreynolds@example.com</div>
          <div class="text-gray-600">(555) 765-4321</div>
        </div>
      </div>
    </div>
  </body>
</html>
