<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Users mockup</title>
  </head>
  <body>
    <div class="bg-gray-200 flex">
      <div class="mx-auto" style="width: 600px;">
        <div class="flex bg-white rounded-lg p-6 m-6 shadow-md">
          <div>
            <object
              class="h-24 w-24 mx-0 mr-6 rounded-full overflow-hidden"
              data="./avatar-1.jpeg"
              type="image/jpeg"
            >
              <img src="./public/avatar-1.jpeg" />
            </object>
          </div>
          <div class="text-left">
            <h2 class="text-lg">Scott Reynolds</h2>
            <div class="text-purple-500">Customer Support</div>
            <div class="text-gray-600">scottreynolds@example.com</div>
            <div class="text-gray-600">(555) 765-4321</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
